@import './base.css';

.v-container {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.v-card {
  height: 100%;
}

.v-sheet {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
}

.v-text-field {
  background-color: white;
  border-radius: 8px;
}

.v-radio-group {
  background: rgba(255, 255, 255, 0.8);
  padding: 12px;
  border-radius: 8px;
}
